anthropic==0.46.0
beautifulsoup4==4.13.3
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.2
click==8.1.8
dateparser==1.2.1
deptry==0.23.0
Flask==2.3.3
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-core==2.4.3
google-cloud-secret-manager==2.16.4
google-cloud-storage==2.13.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.62.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
packaging==25.0
paramiko==3.5.1
pathlib==1.0.1
playwright==1.40.0
playwright-stealth==1.0.6
proto-plus==1.26.1
protobuf==4.25.6
pyasn1==0.6.1
pyasn1_modules==0.4.2
pytest==8.3.4
python-dotenv==1.0.1
pytz==2025.1
regex==2024.11.6
requirements-parser==0.13.0
rsa==4.9
schedule==1.2.2
setuptools==80.9.0
tenacity==9.0.0
trafilatura==2.0.0
Werkzeug==3.1.3
